<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<div class="containar">
	<div class="row no-gutters">

  		<table class="col-md-6 col-sm-6 col-xs-6 p-3 mx-auto rounded px-0 my-5">
			<h4>注文情報入力</h4>
			 <thead>
        		<tr>
		            <th class="m-2">商品名</th>
		            <th>個数</th>
		            <th>単価</th>
		            <th>小計</th>
		        </tr>
		    </thead>
		    <%unless billing_amount = nil%>
		    <%billing_amount=0%>
		    <%end%>

	        <% @cart_products.each do |cart_product| %>
	       		<tr>
		            <td><%=cart_product.product.name%></td>
		            <td><%=cart_product.quantity%></td>
		            <td><%=cart_product.price%></td>
		            <td><%=(cart_product.price*cart_product.quantity)%></td>
	         	</tr>
		        <%billing_amount+=cart_product.price*cart_product.quantity %>
		    <%end%>
           	<th>
				<tr>
					<td colspan="2"></td>
					<td>合計金額：</td>
					<td><%=billing_amount%></td>
				</tr>
			</th>
    	</table>

		<%= form_with model:@order, url:order_confirm_path,class:"col-md-4 col-sm-4 col-xs-4 p-5 px-0 my-5",method: :get,local:true do |f| %>
   		<table>
			<%= f.hidden_field :member_id %>
				<tr><td>
					<div class="form-group">
						<label>お支払い方法</label>
						<p class="text">ご希望のお支払い方法を選択してください。</p>
						<div class="radio">
							<label><%= f.radio_button :payment_method,0 %>クレジットカード</label>
						</div>
						<div class="radio">
							<label><%= f.radio_button :payment_method,1 %>銀行振込</label>
						</div>
					</div>
				</td>
				</tr>
				<tr><td>
					<div class="form-group">
						<label><span class="glyphicon glyphicon-stop"></span>お届け先</label>
						<p class="text">ご希望のお届け先を選択してください。</p>
						<!-- 自宅 -->
						<div class="radio">
							<label>
								<%= f.radio_button :address_op, 1 %>ご自身の住所:
							</label>
							<span>〒<%= current_member.postal_code %> <%= current_member.address %></span>
						</div>

						<!-- 登録した配送先 -->
						<div class="radio">
							<label><%= f.radio_button :address_op, 2 %>登録済住所から選択</label>
						</div>
						<%= f.collection_select :address,@add,:address,:address %>
						<!-- 新しく配送先を設定-->
						<div class="radio">
							<label>
								<%= f.radio_button :address_op, 3 %>
								新しいお届け先
							</label>
						</div>
						<div id="form">
							<p class="text">ご希望のお届け先を入力してください。</p>
							<div class="form-group">
								<label for="inputPostalCode">郵便番号</label>
								<%= f.text_field :postal_code, class:"form-control", id:"inputPostalCode", style:"width:30%;" %>
							</div>
							<div class="form-group">
								<label for="inputAddress">住所</label>
								<%= f.text_field :address_new, class:"form-control", id:"inputAddress", style:"width:70%;" %>
							</div>
							<div class="form-group">
								<label for="inputName">配達先名</label>
								<%= f.text_field :delivery_name, class:"form-control", id:"inputName", style:"width:70%;" %>
							</div>
						</div>
					</div>
				</td></tr>

				<tr><td>
					<div class="text-center">

						<%= f.submit '確認画面へ進む', class:"btn btn-success" %>
					</div>

				</td></tr>
			</table>
		<%end%>

	</div>
</div>

