<div class="container">

  <div class="row">
	<h2 class="mypage"><i class="fas fa-user"></i>マイページ</h2>

	<p class="under_mypage"><strong>ユーザ情報</strong>
	  <%= link_to "編集する", edit_member_path, class:"btn btn-primary mypage_edit" %>
		<%= link_to "パスワードを変更する", edit_member_registration_path, class:"btn btn-primary" %></p>
  </div>
		<div class="row">
			<div class="col-xs-8">
				<table class="table">
					<tr>

						<td>氏名</td>
						<td><%= current_member.full_name %><%= current_member.first_name %></td>
					</tr>
					<tr>
						<td>カナ</td>
						<td><%= current_member.last_name_kana %><%= current_member.first_name_kana %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= current_member.postal_code %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= current_member.address %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= current_member.telephone_number %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= current_member.email %></td>
					</tr>
				</table>
			</div><br><br>
		</div>
		<p><strong>配送先　　</strong><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %>
		<p><strong>注文履歴　</strong><%= link_to "一覧を見る", class:"btn btn-primary" %>

	</div>